:root {
    --fincouple-orange: #f87000;
}

html,
body {
    height: 100%;
}

.bg-fincouple {
    background: var(--fincouple-orange);
    background: linear-gradient(90deg, var(--fincouple-orange) 0%, #f84f00 100%);
}

/* Color Picker */

.color-picker-fincouple {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .color-picker-fincouple::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
  }
  .color-picker-fincouple::-moz-color-swatch {
    border-radius: 15px;
    border: none;
  }